/* Las variables en scss se trabajan anteponiendo $ seguido del nombre de la variable y estas pueden gaurdar desde estilos hasta cadenas y valores numericos. */

$primary-color: #ffe92e;
$secondary-color: black;
$terciary-color: white;
$font-color: #aaa;

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

$limit: 10;
$unit: 8px;
